.cartitems{
    margin: 100px 170px;
}
.cartitems hr{
    height: 3px;
    border: 0;
    background-color: #e2e2e2;
}

.cartitems-format-main{
    display: grid;
    grid-template-columns:0.5fr 2fr 1fr 1fr 1fr 1fr ;
    align-items: center;
    gap: 75px;
    padding: 20px 0;
    color: #454545;
    font-size: 18px;
    font-weight: 600;
}
.cartitems-format{
    font-size: 17px;
    font-weight: 500;
}
.carticon-product-icon{
    height: 62px;
}
.cartitems_remove-icon{
    width: 15px;
    margin: 0px 40px;
    cursor: pointer;
}
.cartitems-quantity{
    width: 64px;
    height: 50px;
    background-color: white;
    border: 2px solid #ebebeb;
}
.cartitems-down{
    display: flex;
    margin: 100px 0;
}
.cartitems-total{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    gap: 40px;
}
.cartitems-total-item{
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}
.cartitems-total button{
    width: 262px;
    height: 58px;
    outline: none;
    border: none;
    color: white;
    background-color: #ff5a5a;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.cartitems-promocode{
    flex: 1;
    font-size: 16px;
    font-weight: 500;
}
.cartitems-promocode p{
   color:#555 ;
}
.cartitems-promobox {
  display: flex;               
  align-items: center;         
  justify-content: space-between;
  width: 500px;
  height: 58px;
  margin-top: 15px;
  background-color: #eaeaea;
  padding: 0;                  
}

.cartitems-promobox input {
  flex: 1;                     
  
  border: none;
  outline: none;
  padding: 0 15px;
  height: 100%;
  font-size: 16px;
  background-color: transparent;
}

.cartitems-promobox button {
  width: 170px;
  height: 100%;               
  font-size: 16px;
  font-weight: 500;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
}
