.item{
     width: 250px;
}
.item p{
    margin: 6px 0px;
}
.item-prices{
    display: flex;
    gap: 20px;
}
.item-price-new{
    color: #374151;
    font-size: 18px;
    font-weight: 600;
}
.item-price-old{
    color: #8c8c8c;
    font-size: 18px;
    font-weight: 500;
    text-decoration: line-through;
}
.item:hover{
    transform: scale(1.05);
    transition: 0.6s;
}
.item img {
  width: 100%;   /* Image ko parent div ki width tak limit karo */
  height: auto;  /* Aspect ratio maintain karega */
  display: block;
  object-fit: cover; /* Image ka shape sahi rahega */
}
